.header {
  /* display: grid;
  grid-template-columns: 1fr 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.new-button {
  margin: 5px;
  height: 45px;
  font-size: smaller;
}
.title {
  grid-column: 1;
}

.thoughts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thought-box {
  border: 2px black solid;
  margin: 5px;
  padding: 10px;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

li {
  list-style: none;
}

.comments {
  font-size: small;
  padding: 2px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.comment-button {
  margin: 6px;
}

.new-post {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.thought-input {
  margin: 6px 0;
}
